.time-card {
  border: 1px solid black;
  padding: 20px;
  margin: 2em 1em;
  background-color: #fffffe;
  border: 2px solid #094067;
  border-radius: 10px;
}

#delete-button {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  background-color: #ef4565;
  color: #fffffe;
  border: 2px solid #ef4565;
}
