body {
  text-align: center;
  margin: 0 5em;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
