body {
  text-align: center;
  margin: 0 5em;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.time-card {
  border: 1px solid black;
  padding: 10px;
  margin: 1em;
}
